

    <div class="login-box p-5">			
        <div class="row">
            <div class="col-12 text-center">
                <h3>Login</h3>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="your@email.com">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="pass" placeholder="**********">
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-primary" (click)="login()">Login</a>
                </div>
            </div>
        </form>
    </div>

	